
Label {
    -fx-font-family: "Abel";
    -fx-text-fill: rgba(237,229,224,1);
    -fx-font-size: 20;
}

.chart-series-line {
    -fx-stroke: #b43652;
}

.chart-line-symbol {
    -fx-background-radius: 0px;
    -fx-padding: 0px;
}

.axis {
   
    -fx-tick-label-fill: rgba(200,200,188,1);
}

.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}

.chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}

.chart-plot-background {
    -fx-background-color: transparent;
}


.default-color0.chart-series-line {
    -fx-stroke: #38844E;
}

.default-color1.chart-series-line {
    -fx-stroke: #41A2A5;
}

.default-color2.chart-series-line {
    -fx-stroke: #CEB866;
}

.default-color3.chart-series-line {
    -fx-stroke: #B55B51;
}



